---
title: Colors
category: Basics
order: 2
---

.c-content

    h1 Colors

    h2 Grays

    .u-spacer-top.u-spacer-bottom
        .c-swatch-list
            each color in contentData.colors
                if color.category == "Grays"
                    .c-swatch
                        .c-swatch__block(style="background: #"+color.code+";")
                        .c-swatch__info
                            .c-swatch__color-name #{color.name}
                            .c-swatch__color-hex ##{color.code}


    .u-spacer-top.u-spacer-bottom
        h2 Primary UI colors

        .c-swatch-list
            each color in contentData.colors
                if color.category == "Primary"
                    .c-swatch
                        .c-swatch__block(style="background: #"+color.code+";")
                        .c-swatch__info
                            .c-swatch__color-name #{color.name}
                            .c-swatch__color-hex ##{color.code}
    
    .u-spacer-top.u-spacer-bottom
        h2 Secondary UI colors

        .c-swatch-list
            each color in contentData.colors
                if color.category == "Secondary"
                    .c-swatch
                        .c-swatch__block(style="background: #"+color.code+";")
                        .c-swatch__info
                            .c-swatch__color-name #{color.name}
                            .c-swatch__color-hex ##{color.code}
